<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - UILayer</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/UILayer.styles.css" asp-append-version="true" />
</head>
<body>

	<div id="preloader" style="display: none;">
		<div class="loader">
			<svg class="circular" viewBox="25 25 50 50">
				<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"></circle>
			</svg>
		</div>
	</div>

	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OrionPos Telefon Rehberi</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li><a href="#" onclick="Login.onLogoutClick()">Log Out</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2023 - Telefon Rehberi
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/Core.js"></script>
	<script src="~/plugins/common/common.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>


	<script src="~/plugins/common/common.min.js"></script>
	<script src="~/js/custom.min.js"></script>
	<script src="~/js/settings.js"></script>

	<script src="~/plugins/raphael/raphael.min.js"></script>
	<script src="~/plugins/morris/morris.min.js"></script>
	<script src="~/plugins/moment/moment.min.js"></script>
	<!-- ChartistJS -->
	<script src="~/plugins/tables/js/jquery.dataTables.min.js"></script>
	<script src="~/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
	<script src="~/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>
	<script src="~/js/JsOfPage/Login.js"></script>



	<script src="~/js/dashboard/dashboard-1.js"></script>
	<i title="Raphaël Colour Picker" style="display: none; color: transparent;"></i>
	<script src="~/js/moment.js"></script>


	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>



